// 
// Styles
// 

// Import Custom Variables
@import "variables.scss";

// Import Custom SCSS
@import "global.scss";

// Layout
@import "layout/dashboard-default.scss";
@import "layout/adminshow.scss";

// Navigation
@import "navigation/nav.scss";
@import "navigation/topnav.scss";
@import "navigation/sidenav/sidenav.scss";
@import "navigation/sidenav/sidenav-dark.scss";


nav.main-nav {
    background-color: #3d403c;
    a.navbar-brand {
        font-family: 'Pacifico', cursive;
        color: #d48166;
    }
    a.nav-link {
        color: #d48166;
    }
}

#sidenavAccordion {
    position: relative;
    .sb-sidenav-menu {
        background-color: #d48166;
    
        .nav {
            .sb-sidenav-menu-heading {
                color: white;
            }
            .nav-link {
                color: white;
            }
        }
    }

    .sb-sidenav-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
