// 
// Global
// 

html,
body {
    height: 100%;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #d48166;
    border-color: #d48166;
}
.page-link:focus {
    z-index: 3;
    color: #0a58ca;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(253 246 13 / 0%);
}
.page-link {
    position: relative;
    display: block;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}