// Import Custom Variables
// @import "variables.scss";

// Import Custom SCSS
// @import "global.scss";


.layout_container {
  min-height: 100vh; 
  display:flex; 
  flex-direction:column;
}

header {
    background-color: #3d403c;
    nav.main-nav {
        a.navbar-brand {
            font-family: 'Pacifico', cursive;
            color: #d48166;
        }
        a.nav-link {
            color: #d48166;
        }
    }
}

main {
    /* background-color: #f6f4f2; */
    .container {
        .title {
          background-color: #373a361f;
          color: #373a36;
          box-shadow: 10px 10px 5px #373a3648;
          h1, h3 {
            font-family: 'Pacifico', cursive;
          }
          .search {
            position: relative;
            box-shadow: 0 0 40px rgba(51, 51, 51, .1)
          }
        
          .search input {
              text-indent: 10px;
              padding: 10px;
              border: 2px solid #d6d4d4
          }
        
          .search input:focus {
              box-shadow: none;
              border: 2px solid #373a36
          }
          
          .search .fa-search {
              color: #d48166;
              font-size: 20px;

            &:active {
              transform: scale(.8);
            }
          }
          
          .search button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 5px;
              background: #373a36e7;
            
              &:focus {
                box-shadow: none;
              }
          }
        }
    }
}

footer {
    ul {
        padding-left: 0;
        li{
            list-style-type: none;
            margin-bottom: 10px;
            font-size: smaller;
            a {
                text-decoration: none;
                color: black;
            }
            :hover {
                color: #d48166;
            }
        }
    }

    .social {
        a {
            text-decoration: none;
            color: black;
        }
        :hover {
            color: #d48166;
        }
    }

    .privacy {
        a {
            text-decoration: none;
            color: black;
        }
        :hover {
            color: #d48166;
        }
    }
}

.registration, .login {

    input:focus {
        border-color: #d48166 !important;
        box-shadow: 0 0 0 0.25rem rgb(212 129 102 / 25%);
    } 
}

@media screen and (min-width: 576px) {
    footer {
        .col {
            .border-bottom {
                border-bottom: 0px !important;    
            }
            ul {
                li {
                   font-size: medium;
               }
           }
        }
    }
}