

.apartment-card .img-container{
  width: 150px;
  height: 150px;
}

.apartment-card{
  background-color: #F6F4F2;
  padding: 15px 20px;
  border-radius: 15px;

  .img-container{
      
      img{
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          object-fit: cover;
          overflow: hidden;
          border-radius: 10px;
      }
  }
}

.apartment-data p{
  text-align: center;
  margin-bottom: 0;
  
}

.apartment-data:nth-child(3){
  align-items: flex-start;
}

.apartment-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 1rem;
  margin-right: 1rem;
}

.btn-orange{
  background-color: #d48166;
  color: #f9f9f9;
  border-radius: 10px;
}

.theme-btn-white{
  border-radius: 10px;
  background-color: white;
  color: #d48166;
  border: 1px solid #d48166;
}

.theme-btn-white::hover{
  background-color: #3F423E;
  color: white;
  
}
