*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-carousel{
    height: 550px;
    width: 65%;
}
.housepic-container{
    background-color: rgba(177, 177, 177, 0.158);
}
.img-container > img{
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.sub-nav ul{
    margin: 0;
    padding: 0;
    font-size: large;
    /* border-bottom: 1px solid black; */
}

/*UTILITIES*/

.my-lh{
    line-height: 40px;
}